.container-update-box{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff84;
    display: flex;
    align-items: center;
    justify-content: center;
}

.update-box{
    min-width: 400px;
    min-height: 400px;
    background-color: #3498db;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    gap: 1em;
    padding: 10px;
}
.update-box-title{
    max-width: 95%;
    color: #fff;
    margin-top: -10px;
    word-wrap: break-word;
    margin-bottom: 10px;
}

.update-box-input{
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: .2em;
}

.update-box-input p{
    font-size: 1.1em;
    color: #fff;
}

.update-box-input input{
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.update-box-buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    gap: 1em;
}

.update-box-buttons button{
    width: 40%;
    height: 30px;
    font-size: 1em;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all .2s ease-in;
    color: #fff;
    border-radius: 50px;
}

.update-box-buttons button:nth-child(1){
    background-color: green;
}

.update-box-buttons button:nth-child(1):hover{
    background-color: #fff;
    color: green;
}

.update-box-buttons button:nth-child(2){
    background-color: red;
}

.update-box-buttons button:nth-child(2):hover{
    background-color: #fff;
    color: red;
}


