.container-home {
  width: 100%;
  padding: 30px;
  display: flex;
  align-items: start;
  justify-content: center;
  min-height: 800px;
}

.home{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 2em;
}

.home-title {
  font-size: 3em;
  margin-top: 1em;
  color: #fff;
  margin-top: 8%;
}

.home-description {
  font-size: 1.2em;
}

.home-button {
  width: 150px;
  height: 45px;
  background-color: red;
  border: 2px solid red;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  color: #fff;
  transition: 0.3s ease-in-out;
}

.home-button:hover {
  background-color: #fff;
  color: red;
}

@media (max-width: 650px){
  .container-home{
    padding: 10px;
  }
  
  .home{
    margin-top: 5em;
  }

  .home-title{
    font-size: 2.2em;
  }

  .home-description{
    font-size: 1.1em;
  }
}

@media (max-width: 500px){
  .home-title{
    font-size: 1.9em;
  }

  .home-description{
    font-size: .95em;
  }

  .home-button{
    width: 140px;
    height: 40px;
  }
}

