.theme-menu {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form-menu {
    width: 400px;
    background: linear-gradient(145deg, #0099ff, #0055cc);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  }
  
  .theme-menu-close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  .theme-menu-close i {
    font-size: 2em;
    margin-top: -10px;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .theme-menu-close i:hover {
    color: red;
  }
  
  .theme-menu-title {
    font-size: 2.1em;
    color: #fff;
    margin-bottom: 0.4em;
  }
  
  .theme-menu-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
  }
  
  .theme-menu-input p {
    font-size: 1.2em;
    color: #fff;
  }
  
  .theme-menu-input input {
    height: 35px;
    padding: 5px;
    font-size: 0.9em;
    border-radius: 5px;
    border: 2px solid #0099ff;
    outline: none;
  }
  
  .theme-menu-input input:focus {
    border: 2px solid blue;
  }
  
  .theme-menu-btn {
    width: 100%;
    margin-top: 1em;
    height: 40px;
    border-radius: 50px;
    border: 2px solid #0099ff;
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    background-color: #0055cc;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .theme-menu-btn:hover {
    background-color: #fff;
    color: #0055cc;
  }
  
  @media (max-width: 450px) {
    .form-menu {
      width: 90%;
    }
  }