.container-confirm-box {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: #ffffff89;
  z-index: 10;
}

.confirm-box{
    width: 350px;
    height: 250px;
    background-color: #3498db;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
}

.confirm-box-title{
    max-width: 90%;
    word-wrap: break-word;
    color: #fff;
    text-align: center;
}

.confirm-box-buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.confirm-box-buttons button{
    width: 40%;
    height: 30px;
    font-size: 1em;
    font-weight: bold;
    word-wrap: break-word;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.bi-question-circle-fill{
    font-size: 40px;
    color: #fff;
}

.confirm-box-buttons button:nth-child(1){
    background-color: rgb(0, 170, 20);
}

.confirm-box-buttons button:nth-child(1):hover{
    background-color: #fff;
    color: rgb(0, 170, 20);
}

.confirm-box-buttons button:nth-child(2){
    background-color: red;
}

.confirm-box-buttons button:nth-child(2):hover{
    background-color: #fff;
    color: red;
}
