.container-table{
  width: 100%;
  overflow-x: auto;
  margin-bottom: 2em;
}

.response-table {
  width: 100%;
  min-width: 650px;
  border-collapse: collapse;
}

.table-head tr th{
  background-color: #187ba7;
  color: #fff;
  border-right: 1px solid #005982;
}

.table-head tr th:first-child{
  font-size: .9em;
}

.table-body tr td{
  border-right:  1px solid #005982;
  color: #fff;
  font-size: 1.05em;
}

.table-head th,
.table-body td {
  padding: 8px;
  text-align: left;
}

.table-body td {
  line-height: 35px;
}

.table-body td:first-child,
.table-head th:first-child {
  text-align: center;
  width: 5%;
}

.table-body td:last-child,
.table-head th:last-child {
  width: 5%;
  text-align: center;
  border: none;
}

.table-body td:nth-child(3),
.table-head th:nth-child(3) {
  text-align: center;
}

.table-body td:nth-child(2),
.table-head th:nth-child(2) {
  width: 50%;
}

.table-body tr:nth-child(even) {
  background-color: #187ba7;
}

.table-body tr:nth-child(odd) {
  background-color: #309dcb;
}