.container-theme{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-theme-data{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5em;
}

.container-all-themes{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    width: 800px;
    height: 600px;
    gap: 2em;
    background-color: #ffffff8b;
    border-radius: 15px;
    padding: 40px;
    margin-bottom: 80px;
    position: relative;
}

.theme{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: .5em;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.theme img{
    width: 100px;
    height: 100px;
    transition: all .3s ease-in-out;
    border-radius: 15px;
}

.theme img:hover{
    transform: scale(1.1);
}

.container-info{
    position: absolute;
    top: 50%;
}

.pagination-buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin-top: -50px;
    height: 50px;
    margin-bottom: 35px;
}

.pagination-buttons button{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

.pagination-buttons button:hover{
    background-color: #ffffffc1;
}