.container-not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5em;
  margin-bottom: 100px;
}

.title-not-found {
  text-align: center;
  word-wrap: break-word;
  font-size: 2em;
  color: #0055cc;
  background-color: #fff;
  padding: 5px 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.img-not-found {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

@media (max-width: 500px) {
  .img-not-found {
    width: 80%; 
  }
}
