.container-search{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5em;
    text-align: center;
    padding: 0px 15px;
}

.search-title{
    font-size: 2.1em;
    color: #fff;
    word-wrap: break-word;
}

.search-input{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid white;
    padding: 5px;
    font-size: 1.1em;
    outline: none;
}

.search-input:focus{
    border: 2px solid blue;
}

@media(max-width: 550px){
    .search-title{
        font-size: 1.7em;
    }

    .search-input{
        height: 30px;
        font-size: 1em;
    }
}

@media(max-width: 450px){
    .search-title{
        font-size: 1.6em;
    }

    .search-input{
        width: 95%;
        font-size: .9em;
    }
}