.container-quiz-external{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets//background-question.jpg");
    background-size: cover;
    margin-top: -2em;
    margin-bottom: -2em;
}

.container-quiz{
    width: 80%;
    min-height: 600px;
    display: flex;
    align-items: start;
    justify-content: center;
}