.container-quiz-external{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets//background-question.jpg");
    margin-top: -2em;
    margin-bottom: -2em;
}

.container-quiz{
    width: 80%;
    margin-top: 40px;
    border-radius: 20px;
    min-height: 600px;
    display: flex;
    align-items: start;
    justify-content: center;
}