.container-quiz-external {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/background-question.webp");
  background-size: cover;
  margin-top: -2em;
  padding: 30px 0px;
}

.container-quiz {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.timer{
  width: 65px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  font-weight: bold;
  position: absolute;
  top: -10px;
  right: 10px;
  color: rgb(1, 65, 106);
}

.correct-answer {
  animation: correctAnimation 1s ease-in-out;
}

@keyframes correctAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.wrong-answer {
  animation: wrongAnimation 1s ease-in-out;
}

@keyframes wrongAnimation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 1350px) {
  .container-quiz {
    width: 95%;
  }
}
