.active{
    border-bottom: 2px solid #fff;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    height: 100px;
    padding: 30px;
    color: #fff;
    margin-bottom: 2em;
}

.logo{
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 2.5em;
    margin-left: 7%;
}

.nav-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2em;
}

.nav-item{
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s ease-in-out;
    padding: 5px 0px;
    color: #fff;
    text-decoration: none;
}

.profile{
    font-size: 2.6em;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.profile:hover{
    color: rgb(76, 76, 250);
}

.menu-mobile{
    font-size: 2.2em;
    cursor: pointer;
    transition: .2s ease-in-out;
    display: none;
}

.menu-mobile:hover{
    color: blue;
}

@media(max-width: 1250px){
    .header{
        padding: 15px;
    }

    .title{
        margin: 0;
        font-size: 2.1em;
    }

    .nav-bar{
        gap: 1.5em;
    }

    .nav-item{
        font-size: 1em;
    }
}

@media(max-width: 1000px){
    .title{
        justify-content: center;
    }

    .nav-bar{
        display: none;
    }

    .menu-mobile{
        display: block;
    }
}

@media(max-width: 500px){
    .logo{
        width: 60px;
    }

    .title{
        font-size: 1.9em;
    }

    .menu-mobile{
        font-size: 2.1em;
    }
}
