.footer {
  background-color: #000;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding: 30px;
  gap: 1.1em;
  margin-top: 2em;
}

.footer img{
  width: 150px;
}