.question {
  width: 100%;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.question-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
  margin-bottom: 1.5em;
}

.question-number {
  background-color: #fff;
  color: rgb(1, 65, 106);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1.2em;
  font-weight: bold;
}

.question-title {
  width: 100%;
  text-align: center;
  word-wrap: break-word;
  font-size: 2em;
  background-color: rgb(0, 131, 212);
  padding: 20px;
  border-radius: 10px;
  color: #fff;
}

.question-image {
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

.alternatives {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em;
}

.alternatives li {
  max-width: 100%;
  width: 47%;
  min-height: 60px;
  background-color: #fff;
  border-radius: 15px;
  text-align: start;
  padding: 10px 20px;
  font-size: 1.4em;
  font-weight: bold;
  color: rgb(1, 65, 106);
  cursor: pointer;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.alternatives li span {
  background-color: #3498db;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.alternatives li p{
  width: 90%;
}

.alternatives li:hover {
  background-color: #ffffffab;
}

@media (max-width: 900px) {
  .question-title {
    font-size: 1.8em;
  }

  .question-image {
    width: 200px;
    height: 200px;
  }

  .alternatives {
    align-items: center;
    flex-direction: column;
  }

  .alternatives li {
    width: 95%;
    font-size: 1.1em;
  }
}

@media (max-width: 750px) {
  .question-title {
    font-size: 1.5em;
  }
}

@media (max-width: 550px) {
  .question-title {
    font-size: 1.2em;
  }

  .question-number {
    font-size: 0.9em;
  }

  .alternatives li {
    font-size: 1em;
  }
}
