*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  list-style: none;
}

body{
  background-image: url("./assets/background-quiz.jpg");
  background-size: cover;
  background-position: center;
}