.container-create-quiz {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-create {
  width: 80%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  background-color: #3498db;
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 2em;
}
