.container-create-quiz {
  width: 100%;
  height: 100%;
  min-height: 90vh;
  display: flex;
  align-items: start;
  justify-content: center;
  background-image: url("../../assets/background-create-quiz.webp");
  background-size: cover;
  margin-top: -2em;
}

.container-create {
  width: 80%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 2em;
}

.container-create-header{
  text-align: center;
  margin-bottom: 150px;
}

.container-create-header h2{
  font-size: 2.3em;
  background-color: #ffffff37;
  padding: 10px 30px;
  border-radius: 15px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  color: #fff;
  margin-top: 1em;
}

.container-create-buttons{
  width: 750px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 100px;
}

.create-btn{
  width: 50%;
  height: 300px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  position: relative;
}

.create-btn:hover{
  transform: scale(1.1);
}

.create-btn:nth-child(1){
  background-image: url("../../assets/create-theme-btn.webp");
  background-size: cover;
  background-position: center;
}

.create-btn:nth-child(2){
  background-image: url("../../assets/select-theme-btn.webp");
  background-size: cover;
  background-position: center;
}

.create-btn h2{
  margin-top: -2em;
  color: #fff;
}

@media(max-width: 850px){
  .container-create{
    width: 100%;
  }

  .container-create-header h2{
    font-size: 2.1em;
  }

  .container-create-buttons{
    gap: .5em;
    width: 100%;
  }

  .create-btn{
    width: 250px;
    height: 250px;
  }

  .create-btn h2{
    font-size: 1.4em;
  }
}

@media(max-width: 650px){
  .container-create{
    padding: 15px;
  }

  .container-create-header{
    margin-bottom: 120px;
  }

  .container-create-header h2{
    font-size: 1.9em;
  }

  .create-btn{
    width: 220px;
    height: 220px;
  }

  .create-btn:nth-child(2) h2{
    font-size: 1.3em;
  }
}

@media(max-width: 500px){
  .container-create-header{
    margin-bottom: 80px;
  }

  .container-create-header h2{
    font-size: 1.6em;
  }

  .container-create-buttons{
    flex-direction: column;
    gap: 65px;
  }
}

@media(max-width: 400px){
  .container-create-header h2{
    font-size: 1.35em;
  }
}